<div class="ui segment">
    <div class="ui stackable grid">
        <div class="fifhteen wide column">                   
        </div>
        <div class="one wide column right floated">       
            {{ component('semantic~paginator.dropdown',{ namespace: 'rating' }) }}
        </div>
    </div>
</div>
<table class="ui compact stackable selectable borderless basic table">
    <thead class="table-head">
        <tr>              
            <th class="one wide collapsing left aligned">{{ columns.action }}</th>
            <th class="four wide">{{ columns.reference }}</th>              
            <th class="ten wide">{{ columns.rating }}</th>   
            <th class="ten wide">{{ columns.count }}</th>                                                            
        </tr>
    </thead>
    <tbody id="rating_rows" component="rating::admin.view.rows" namespace="rating">
        {{ component('rating::admin.view.rows') }} 
    </tbody>
</table> 
<div id="paginator" class="mt-2">      
    {{ component("semantic~paginator",{ namespace: 'rating' }) }}
</div>