<div class="ui two column grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui stackable grid">
                <div class="ten wide column">                   
                </div>
                <div class="six wide column right aligned">       
                    {{ component('semantic~paginator.dropdown',{ class: 'mini', namespace: 'rating' }) }}
                </div>
            </div>
        </div>
        <div class="ui segment">
            <table class="ui compact stackable selectable borderless basic table">
                <thead class="table-head">
                    <tr>              
                        <th class="three wide ">{{ columns.action }}</th>
                        <th class="">{{ columns.reference }}</th>              
                        <th class="four wide">{{ columns.rating }}</th>   
                        <th class="four wide">{{ columns.count }}</th>                                                            
                    </tr>
                </thead>
                <tbody id="rating_rows" component="rating::admin.view.rows" namespace="rating">
                    {{ component('rating::admin.view.rows') }} 
                </tbody>
            </table> 
            <div id="paginator" class="mt-2">      
                {{ component("semantic~paginator",{ namespace: 'rating' }) }}
            </div>
        </div>
    </div>
    <div class="column" id="rating_logs">        
    </div>
</div>