{% set language = getLanguage() %}

{%  set items = [ 
        { id: 'view_rating',title: labels.view, icon: 'list', component: 'rating::admin.view', active: true },           
        { id: 'view_logs',title: labels.logs, icon: 'history', component: 'rating::admin.logs' },
        { id: 'settings',title: labels.settings, component: 'rating::admin.settings', icon: 'cogs' }    
    ] 
%}

{{  component('semantic~tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'rating' },
        content: { component: 'rating::admin.view' } 
    })
}}