{% set logs = createModel('RatingLogs','rating') %}
{% if rating_id is not empty %}
    {% set logs = logs.ratingLogs(rating_id) %}
{% endif %}
{% set logs = logs.orderBy('id') %}
{% set items = paginate(logs,'rating.logs') %}   
{% for item in items.getItems() %}
<tr id="{{ item.uuid }}">
    <td>            
        <button class="ui icon mini basic button delete-button" {{ buttons.delete.title|attr('title') }} uuid="{{ item.uuid }}" data-title="{{ item.title }}">
            <i class="icon trash orange"></i>
        </button>         
    </td>
    <td>
        {{ item.date_created|dateFormat }}
    </td>
    <td>
        {{ item.value }}
    </td>
    <td>
        {{ item.ip }}
    </td>
    <td>
        {{ item.user.user_name }}
    </td>       
</tr>
{% endfor %}