{% if rating_uuid is not empty %}
    {% set rating = createModel('Rating','rating').findById(rating_uuid) %}
{% endif %}
{% set logs = createModel('RatingLogs','rating') %}
{% if rating is not empty %}
    {% set logs = logs.ratingLogs(rating.id) %}
{% endif %}
{% set average = (logs.sum('value') / logs.count()) %}

<div class="ui segment">
    <div class="ui stackable grid">
        <div class="five wide column">       
            <span class="font-bold mr-1">{{ labels.reference }}</span>    
            {% if reference_id is not null %}                
                {{ component('rating::admin.reference.label',{ type: type, id: reference_id }) }}  
            {% else %}
                {{ labels.all }}     
            {% endif %}       
        </div>
        <div class="eight wide column">
        </div>
        <div class="one wide column right aligned">
            <div class="ui mini horizontal olive statistic">
                <div class="value">
                    {{ average|numberFormat }}
                </div>
                <div class="label">
                    {{ labels.average }}
                </div>
            </div>                     
        </div>
        <div class="one wide column right aligned">
            <div class="ui mini horizontal olive statistic">
                <div class="value">
                    {{ logs.count() }}
                </div>
                <div class="label">
                    {{ labels.total }}
                </div>
            </div>                     
        </div>
    </div>
</div>
<div class="ui stackable text menu">
    <div class="item right floated">       
        {{ component('components:paginator.dropdown',{ namespace: 'rating.logs' }) }}
    </div>
</div>
<div class="ui mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="collapsing two wide">{{ columns.date }}</th>
                <th class="one wide collapsing">{{ columns.id }}</th>    
                <th class="one wide collapsing">{{ columns.value }}</th>    
                <th class="ten wide">{{ columns.ip }}</th>   
                <th class="ten wide">{{ columns.user }}</th>                                                            
            </tr>
        </thead>
        <tbody id="rating_logs" component="rating::admin.logs.rows" namespace="rating.logs">
            {{ component('rating::admin.logs.rows',{ rating_id: rating.id }) }} 
        </tbody>
    </table> 
    <div id="paginator" class="mt-2">      
        {{ component("components:paginator",{ namespace: 'rating.logs' }) }}
    </div>
</div>