{% if rating_uuid is not empty %}
    {% set rating = createModel('Rating','rating').findById(rating_uuid) %}
{% endif %}
{% set logs = createModel('RatingLogs','rating') %}
{% if rating is not empty %}
    {% set logs = logs.ratingLogs(rating.id) %}
{% endif %}
{% set sum = logs.sum('value') %}
{% if logs.count() == 0 or sum == 0 %}
    {% set average = 0 %}
{% else %}
    {% set average = (sum / logs.count()) %}
{% endif %}

<div class="ui segment">
    <div class="ui stackable grid">
        <div class="fourteen wide column">   
            <div class="flex flex-rows items-center">
                <div class="flex flex-rows items-center">
                    <div class="font-bold mr-1">
                        {{ labels.reference }}        
                    </div>                   
                    {% if reference_id is not null %}                             
                        {{ component('rating::admin.reference.label',{ type: type, id: reference_id }) }}  
                    {% else %}
                        <div>{{ labels.all }}</div>
                    {% endif %}     
                </div>    
                <div class="flex flex-rows items-center mx-4">
                    <div class="font-bold">
                        {{ average|numberFormat }}
                    </div>
                    <div class="label px-2">
                        {{ labels.average }}
                    </div>
                </div>   
                <div class="flex flex-rows items-center mx-4">
                    <div class="font-bold">
                        {{ logs.count() }}
                    </div>
                    <div class="label px-2">
                        {{ labels.total }}
                    </div>
                </div>      
            </div>
        </div>                                
        <div class="two wide column right aligned">       
            {{ component('semantic~paginator.dropdown',{ namespace: 'rating.logs', class: 'mini' }) }}
        </div>
    </div>
</div>
<div class="ui segment">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th>
                <th class="collapsing two wide">{{ columns.date }}</th>                
                <th class="one wide collapsing">{{ columns.value }}</th>    
                <th class="six wide">{{ columns.ip }}</th>   
                <th>{{ columns.user }}</th>                                                            
            </tr>
        </thead>
        <tbody id="rating_logs" component="rating::admin.logs.rows" namespace="rating.logs">
            {{ component('rating::admin.logs.rows',{ rating_id: rating.id, type: type, reference_id: reference_id  }) }} 
        </tbody>
    </table> 
    <div id="paginator" class="mt-2">      
        {{ component("semantic~paginator",{ namespace: 'rating.logs' }) }}
    </div>
</div>