{% set icon = icon|default('star') %}
{% set max = max|default(7) %}
{% if rating_id is empty or type is empty %}
    {{ component('components:message.error',{ message: error.message }) }}
{% else %}
    {% set options = getOptions('rating.',true) %}
    {% set rating = createModel('Rating','rating').findRating(rating_id,type) %}
    {% set log = rating.log().findLog() %}
    {% set value = (log is empty) ? 0 : log.value %}
    {% set disabled = (rating is not empty) ? rating.isAllowed(rating_id,type,access().getId(),options) : true %}  
    <div title="{{ title }}" class="ui rating {{ disabled|ifthen(false,'disabled') }} {{ class }}" data-icon="{{ icon }}" data-rating="{{ value }}" data-max-rating="{{ max }}" type="{{ type }}" reference-id="{{ rating_id }}"></div>
{% endif %}